body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#game {
  position: relative;
  width: 500px;
  height: 320px;
  overflow: hidden;
  image-rendering: pixelated;
}

/* 壁 */
.wall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  background-image: url("images/br_wall.png");
  background-repeat: repeat;
  background-size: 100px 100px;
}

/* 床 */
.floor {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 240px;

  background-image: url("images/floor.png");
  background-repeat: repeat;
  background-size: 100px 100px;
}

/* テーブル */
.table {
  position: absolute;
  width: 120px;
  height: 80px;

  left: 190px;
  bottom: 100px;

  image-rendering: pixelated;
}

/* 椅子 */
.chair {
  position: absolute;
  width: 48px;
  height: 48px;

  image-rendering: pixelated;
}

/* 左の椅子 */
.chair-left {
  left: 130px;
  bottom: 100px;
}

/* 右の椅子 */
.chair-right {
  right: 130px;
  bottom: 100px;
}

/* キャラクター */
.character {
  position: absolute;
  width: 48px;
  height: 64px;

  image-rendering: pixelated;
}

/* ワタリ */
.watari {
  left: 40px;
  bottom: 80px;
}

/* L */
.l {
  right: 40px;
  bottom: 80px;
}